* {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

body {
    background-image: url(https://philanthropynw.org/sites/default/files/styles/news_16x9__1920x1080/public/content_images/news/ResourceHub_BlogImage_1920x1080px.jpg?itok=6g4dbFHk);
}

h1 {
    text-align: center;
    margin-top: 10%;
}

.login-form {
    text-align: center;
    margin-top: 10%;
}

.btn-login {
    width: 10%;
    height: 30px;
    font-weight: bold;
}

form {
    font-weight: bold;
}

p {
    margin: 10px;
    padding: 10px;
}

.email {
    margin: 10px;
}

.btn-signup {
    width: 10%;
    height: 30px;
    font-weight: bold;
}

.radio {
    margin-left: 15px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: rgb(214, 191, 180);
    
    margin-left: 15px;
}

a:hover {
    color: #2d59df;
}

.head {
    background-color: rgb(235, 72, 51);
    font-family: "Bungee", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.save-btn {
    background-color: transparent;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 2px;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #4caf50;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.save-btn:hover {
    background-color: #4caf50;
    color: white;
}

input {
    border-radius: 12px;
   
}